---
import Base from '../layouts/Base.astro';
---

<Base title='Clara Cuelle - Directrice artistique | Webdesigner - 404'>
  <h1>404 page non trouvé</h1>
  <a href='/portfolio'>Retouner à la page d'acceuil</a>
</Base>
