---
import Base from "../layouts/Base.astro";
import Icon from "../components/Icon.astro";
import NameIcom from "../../public/name.svg";

import type { SvgComponent } from "astro/types";

const Name: SvgComponent = NameIcom;
---

<Base>
  <section class="flex justify-center items-center min-h-[100dvh] bg-blue bg-[url('/logo-shape.svg')] bg-center bg-no-repeat bg-cover">
    <div class="container mx-auto p-5 flex flex-col justify-center items-center text-center gap-5 lg:gap-10 text-white">
      <div class="w-full lg:max-w-[33dvw] mx-auto [&>*]:object-contain" title="Clara Cuelle Studio">
        <Name />
      </div>
      <h1 class="font-title text-2xl leading-10">Directrice artistique digitale & UX/UI Designer</h1>
      <div class="flex flex-wrap justify-center items-center gap-6">
        <a class="flex gap-4 justify-center items-center py-4 px-6 bg-orange text-center rounded text-blue" href="/cv-clara-cuelle.pdf">
          <Icon name="eye"></Icon>
          <span class="font-body font-medium text-xl">CV</span>
        </a>
        <a class="flex gap-4 justify-center items-center py-4 px-6 bg-orange text-center rounded text-blue" href="-clara-cuelle.pdf">
          <Icon name="eye"></Icon>
          <span class="font-body font-medium text-xl">Portfolio</span>
        </a>
      </div>
      <div class="flex flex-col gap-4">
        <span class="font-title mt-20">Site en construction</span>
        <div class="flex flex-wrap gap-6 justify-center items-center">
          <a href="https://www.instagram.com/claracuelle.studio/" class="underline underline-offset-2 transition-all duration-300 ease-in-out hover:decoration-white/70">Instagram</a>
          <a href="https://www.linkedin.com/in/clara-cuelle/" class="underline underline-offset-2 transition-all duration-300 ease-in-out hover:decoration-white/70">LinkedIn</a>
          <a href="https://www.behance.net/claracuelle_studio" class="underline underline-offset-2 transition-all duration-300 ease-in-out hover:decoration-white/70">Bēhance</a>
        </div>
      </div>
    </div>
  </section>
</Base>