---
import Base from "../layouts/Base.astro";
import { Image } from "astro:assets";
import Name from "../../public/name.svg";
---

<Base>
<section class="flex justify-center items-center min-h-[100dvh] bg-blue bg-[url('/portfolio/logo-shape.svg')] bg-center bg-no-repeat bg-cover">
  <div class="container mx-auto p-5 flex flex-col justify-center items-center text-center gap-5 lg:gap-10 text-white">
    <Image class="w-full max-w-[33dvw] mx-auto object-contain" src={Name} alt="Clara Cuelle Studio" />
    <h1 class="font-title text-2xl">Directrice artistique digitale & UX/UI Designer</h1>
  </div>
</section>
</Base>