---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Others from '../components/Others.astro';
---

{
  import.meta.env.DEV ? (
    <Base>
      <Hero />
      <Projects />
      <Others />
    </Base>
  ) : (
    <Base>
      <div class='fixed top-0 left-0 w-full h-full'>
        <h1 class='text-xl font-migra text-expo-primary'>
          Site en cours de construction ...
        </h1>
      </div>
    </Base>
  )
}
