---
interface Props {
  class?: string,
  copyValue?: string
}

const { class: classValue = "",  copyValue = "clara.cuelle@gmail.com"} = Astro.props
---

<button
  data-component="copy"
  data-value={copyValue}
  class={classValue}
  type="button"
>
  <slot></slot>
</button>

<script>
  const allCopyBtn = document.querySelectorAll<HTMLButtonElement>('[data-component="copy"]')
  allCopyBtn.forEach(($copyBtn) => {
    const {value} = $copyBtn.dataset
    if (!value) return
    $copyBtn.addEventListener('click', () => {
      $copyBtn.disabled = true;
      navigator.clipboard.writeText(value);
      $copyBtn.classList.add('is-active');
      setTimeout(() => {
        $copyBtn.classList.remove('is-active');
        $copyBtn.disabled = false;
      }, 1500);
    })
  })
</script>
