---
interface Props {
  title?: string;
}

const { title = 'Portfolio Clara Cuelle' } = Astro.props;
---

<footer class='relative overflow-hidden pt-10'>
  <nav class='container mx-auto px-3'>
    <ul
      class='flex gap-10 flex-col lg:flex-row justify-center lg:justify-around items-center'
    >
      <li>
        <a
          href='/portfolio/about'
          class={`[&.active]:text-expo-primary hover:text-expo-primary [&.active]:font-bold hover:font-bold ${Astro.url.pathname.includes('/about') ? 'active' : ''}`}
          >À propos</a
        >
      </li>
      <li>
        <a
          href='/portfolio/projects'
          class={`[&.active]:text-expo-primary hover:text-expo-primary [&.active]:font-bold hover:font-bold ${Astro.url.pathname.includes('/projects') ? 'active' : ''}`}
          >Mes réalisations</a
        >
      </li>
    </ul>
  </nav>
  <span style={`font-size: ${Math.floor(100 / title.trim().length) * 2}vw;`}
    >&nbsp;</span
  >
  <h1
    style={`font-size: ${Math.floor(100 / title.trim().length) * 2}vw;`}
    class='absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 w-max uppercase font-migra text-expo-primary'
  >
    {title}
  </h1>
</footer>
