---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
}

const { title = 'Clara Cuelle - Directrice artistique | Webdesigner' } =
  Astro.props as Props;
---

<html lang='fr'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/portfolio/logo.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <script>
      import { register } from 'swiper/element/bundle';
      register();
    </script>
    <style is:global>
      @font-face {
        font-family: 'Migra-Extrabold';
        src: url('/fonts/Migra-Extrabold.woff') format('woff2');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Manrope-Regular';
        src: url('/fonts/Manrope-Regular.woff') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      *,
      *::before,
      *::after {
        @apply font-manrope;
      }
      .btn {
        @apply flex gap-2 justify-center items-center w-max px-10 py-2 border border-black transition-all duration-150 ease-in-out;
        svg {
          @apply transition-all duration-150 ease-in-out;
        }
        &:hover {
          svg {
            @apply -rotate-35;
          }
        }
        &.btn--primary {
          @apply bg-black text-white hover:bg-expo-primary hover:border-expo-primary;
          svg,
          path {
            @apply text-white fill-white;
          }
        }
      }
    </style>
  </head>
  <body class='bg-white min-h-[100dvh] grid grid-rows-[auto_1fr_auto]'>
    { import.meta.env.DEV ? 
      <Header />
      <main class='flex flex-col gap-14 lg:gap-28'>
        <slot />
      </main>
      <Footer /> :
      <div class='flex flex-col gap-10 bg-expo-secondary-disabled h-full w-full'>
          <h1 class='text-4xl font-bold text-expo-primary'>Site en cours construction</h1>
          <a class="text-2xl underline text-expo-primary" href="/public/Portfolio2024_Clara-Cuelle.pdf">Télecharger mon portfolio</a>
          <p class='text-lg text-expo-primary'>Revenez bientôt pour découvrir mon nouveau site</p>
      </div>
    }
  </body>
</html>
